<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
{% for messages in get_flashed_messages() %}
<div class="alert alert-success" role="alert">{{ messages }}
  <button type="button" class="btn-close" aria-label="Close"></button>
</div>
{% endfor %}

    {% if name %}
        <h1>Update User</h1>

    {% else %}
        <h1>User List :</h1>
        <br>
        <form method="POST" action="/update/{{ name_to_update.id }}">
            {{ form.hidden_tag() }}

            {{ form.name.label(
            class="form-label") }}

            {{ form.name(
            class="form-control") }}

            <br>
            {{ form.email.label(
            class="form-label") }}

            {{ form.email (
            class="form-control") }}
            <br>
            {{ form.favorite_color.label(
            class="form-label") }}

            {{ form.favorite_color(
            class="form-control") }}

            {{ form.age.label(
            class="form-label") }}

            {{ form.age(
            class="form-control") }}
            {{ form.submit(
            class="btn btn-primary") }}
        </form>
    <br><br><br>
{% for our in our_users %}
    {{ our.id }} - {{our.name}}
        - {{ our.email }} - {{ our.favorite_color}} - {{ our.age }}<br>
{% endfor %}
{% endif %}

{% endblock %}

</body>
</html>